

.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;

}

#tweet-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25em;

}

#tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

#output-counter {
  font-family: 'Bungee', cursive;
}

.tweetInput {
  border-bottom: solid 0.20em #545149;
  margin-top: 1em;
}

.tweetLabel {
  font-weight: 600;
}

input[type="text"], textarea {
  background-color : #f4f1ec; 
  width: 100%;
  height: 30px;
  border: transparent;
  font-size: smaller;
  font-weight: 600;
  color: black;

}

.buttonContainer {
  display: flex;
  justify-content:space-between;
  margin-top: 0.5em;
}